@import url('https://fonts.googleapis.com/css?family=Comfortaa|PT+Serif&display=swap');

html{
    scroll-behavior: smooth;
}

.body {
    margin: 0 2em;
    background-color: lemonchiffon;
}

.header {
    display: flex;
    align-items: center;
    height: 2em;

    background-color: aqua;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav__btn{
    background-color: inherit;
    font-family: 'PT Serif', serif;
    border-radius: 10px;
}

.main_header{
    text-align: center;
    text-decoration: underline;
    font-family: 'Comfortaa', cursive;
}


.preview{
    display: flex;
    justify-content: center;
    background-color: inherit;
}

.preview__img {
    width: 50%;
    height: 400px;
}

.menu__form__btn {
    font-family: 'PT Serif', serif;
    background-color: yellow;
    border-radius: 10px;
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.italic{
    font-style: italic;
}

.equation {
    margin: 0 2em;
}

.bordered {
    border: blue dotted 2px;
    padding: 1em;
}